@import './fonts-lato.css';
@import './fonts-nunito.css';


:root {
  --classic: #1BA8B2;
  --cream: #F8F8F8;
  --coal: #333333;
  --plomizo : #919090;
}

/* general */

body {
  background-color: var(--cream);
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  color: var(--plomizo);
}

/* background */

.bg-classic {
  background-color: var(--classic);
}

.bg-cream {
  background-color: var(--cream)
}

.bg-coal {
  color: var(--coal);
}

/* text */

.text-cream {
  color: var(--cream);
}

.text-coal {
  color: var(--coal);
}

.text-classic {
  color: var(--classic);
}